# Region and Project setup
region           = "us-west1"
project_id       = "my-project-name"

# Path to the credentials file of an account with sufficient access to
# create resources via Terraform
credentials_path = "/path/to/credentials.json"

# The domain name to be used for the example
dns_domain       = "example.org"

# Subnetwork where the IP Address will be reserved
subnetwork       = ""

# List of GCP resource names for each IP address desired
names            = [""]

# List of dns short names to register with Cloud dns
dns_short_names  = [""]

# GCP resource names of the forward and reverse zones where records will be created
dns_managed_zone = ""
dns_reverse_zone = ""

# Name of the GCP project where Cloud DNS is enabled
dns_project      = ""